<div class="job_form">

  <div class="job_name">
    {{ job_form.name_errors }}
    <label for="id_name">Name:</label>
    {{ job_form.name }}
  </div><!-- .job_name -->
  
  <div class="job_resource_url">
    {{ job_form.resource_url.errors }}
    <label for="id_resource_url">Resource URL:</label>
    {{ job_form.resource_url }}
  </div><!-- .job_resource_url -->
  
  <div class="job_mapper">
    {{ job_form.mapper.errors }}
    <label for="id_mapper">Mapper</label>
    <textarea rows="10" cols="80" id="id_mapper" name="mapper">{{ job_form.instance.mapper }}</textarea>
  </div><!-- .job_mapper -->
  
  <div class="job_combiner">
    {{ job_form.combiner.errors }}
    <label for="id_combiner">Combiner</label>
    <textarea rows="10" cols="80" id="id_combiner" name="combiner">{{ job_form.instance.combiner }}</textarea>
  </div><!-- .job_combiner -->  
  
  <div class="job_reducer">
    {{ job_form.reducer.errors }}
    <label for="id_reducer">Reducer</label>
    <textarea rows="10" cols="80" id="id_reducer" name="reducer">{{ job_form.instance.reducer }}</textarea>
  </div><!-- .job_reducer -->  
  
</div><!-- .job_form -->