{% extends "../layouts/main.html" %}

{% block title %}{{ job.name|escape }}{% endblock %}

{% block main %}
    <h2>{{ job.name|escape }}</h2>

    <h3>Resource</h3>
    <pre>{{ job.resource_url|escape }}</pre>

    <h3>Mapper</h3>
    <pre>{{ job.mapper|escape }}</pre>

    <h3>Combiner</h3>
    <pre>{{ job.combiner|escape }}</pre>

    <h3>Reducer</h3>
    <pre>{{ job.reducer|escape }}</pre>

    <ul>
        <li><a href="/jobs/compute/{{ job.key }}">Compute</a></li>
        <li><a href="{% url_for 'edit_job' job.key %}">Edit</a></li>
        <li><a href="/jobs/delete/{{ job.key }}">Delete</a></li>
    </ul>
{% endblock %}